.pill {
  height: 50px;
  display: inline-flex;
  min-width: 70px;
  width: auto;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #4169e1;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
